html {

}

body {
  margin: auto;
  #margin-top:    .5%;
  #margin-bottom: .5%;
  max-width: 1792px;
  
  #font-family: sans-serif;
  font-family: Avenir, "Helvetica Neue", Helvetica, Roboto, Corbel, sans-serif;
  #font-family: courier;
  #font-family: 'Courier New', monospace;
  font-size: 160%;
  font-weight: 400;
  #line-height: 0;
  #font-size: 1.8rem;
  #-ms-text-size-adjust: 100%;
  #-webkit-text-size-adjust: 100%;
}

.initial {
float: left;
display: block;
color: #903;
font-size: 118px;
line-height: 0.80em;
padding-top: 10px;
padding-right: 11px;
padding-left: 0px;
margin-left: -6px;
font-weight: bold;
text-shadow: 3px 3px 10px #2a2f35;
}

.shadow {
-webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
-moz-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
}

div {
/* Debug */
border: 0px solid;    
}

div.rightbox  {
margin-left:   1.2em;
margin-bottom: 0;
margin-top:    0;
padding:       0;
float:         right;
}

div.rightboxalignment {
width:      30%; 
margin-top: 0em ;"
}

div.leftbox {
margin-right:  1.2em;
margin-bottom: 0;
margin-top:    0;
padding:       0;
float:         left;
}

div.leftboxalignment {
width:      30%; 
margin-top: .5em;"
}

img.rightbox  {
margin-left:   1em;
margin-bottom: 0;
margin-top:    0;
padding:       0;
float:         right;
}

img.rightboxalignment {
width:      30%; 
margin-top: 0;"
}

img.leftbox {
margin-right:  1em;
margin-bottom: 0;
margin-top:    0;
padding:       0;
float:         left;
}

img.leftboxalignment {
width:      30%; 
margin-top: 0;"
}

p {
margin-top:    .6rem;
margin-bottom: .6rem;
text-align:    justify;
}

p:last-child {
margin-bottom: 0;
}

h1 {
font-size:     230%; 
margin-top:    0;
margin-bottom: 0;
font-weight:   900;
}

h2 {
margin-top:     0em;
margin-bottom:  0em;
}

h3 {
margin-top:     1em;
margin-bottom:  0em;
}

a, a:visited {
color: black;
text-decoration: none;
font-weight: 400;
}
a:-webkit-any-link {
    cursor: pointer;
}

a:hover {
color: blue;
text-decoration: none;
}

p a, a:visited {
color: black;
text-decoration: underline;
font-weight: 400;
}

p a:hover {
color: black;
text-decoration: none;
}

a.menu, a:visited.visited {
color: red;
text-decoration: none;
font-weight: 400;
}

a.menu:hover {
color: #0cc;
color: white;
text-decoration: none;
}

strong {
color: #303030;
}

::selection {
background: #ffff0a;
background: #ff1dce;
background: #ccff00;
text-shadow: none;
}

ul {
margin-top:    0px;
margin-bottom: 1rem;
text-align:    justify;
}

blockquote {
font-style:   italic;
border-left:  3px solid #666;
padding-left: 1em;
margin-left:  0em;
margin-right: 0em;
line-height:  1.6;
}

img {
width: 100%;
border: 0;
margin: 0;
margin-top: .2em;
}

img.alignemnt {
margin-top: 1em;
}

header {
max-width: 1792px;
margin: auto;
}

.leftside {
min-width: 320px;
width: 20%;
display: inline-block; 
}

.leftside p {
text-align: right;
}

.rightside {
width: 80%;
margin: 0px;
display: inline-block;
}

.menupadding {
padding: 10px;
}

.contentcontainer {
margin: auto;
display: flex;
}

.contentleftside {
min-width: 320px;
width: 20%;
display: inline-block;
text-align: right;  
}

.contentrightside {
width: 80%;
margin: 0px;
display: inline-block;  
}

.contentpaddingleft {
padding:       58px;
padding-left:   0px;
padding-top:   2.8em;
padding-bottom: 0px;
}

.contentpaddingright {
padding:        2em;
padding-top:    2em;
padding-bottom: 2em;
}

.tableofcontents {
column-count:  2; 
column-gap:   50px; 
column-rule:   2px solid lightgrey;
}
@media all and (max-width: 1330px) {
  .tableofcontents {
    column-count:  1; 
  }
}

.footnote {
font-size: 60%;
}

ol {
margin-bottom: 0px;
}

.footnotes {
clear: both;
padding: 0;
padding-right: 1em;
margin-top: 1em;
margin-bottom: 0;
border-top: 2px solid rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

.footnotes p {
font-size: 0.95em;
color: #594f40;
line-height: 1.0;
margin-top:  0px;  
}

.footnotes p:last-child {
margin-bottom: 0.65em;
}

.footnotes p:target {
background-color: #ffffeb;
padding: 3px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
}

.rainbow{
width: 100%;
height: 8px;
background-repeat:repeat-x;
background: linear-gradient(to right, #eb5252, #f78f2f, #f4c151, #75d850, #6284FF, #eb5252);
animation: rainbow 10s linear infinite;
background-size: 200% 100% !important;
}
@keyframes rainbow{
0% {background-position: 0;}
100% {background-position: 800% 0;}
}

.rightfloatingbox {
position: fixed;
top: 50%;
transform: translateY(-50%);
right: 0;
background-color: black;
z-index: 1;
opacity: 1;
#visibility: hidden;
#opacity: 0;
#transition: visibility 0s 1s, opacity 1s linear;
-webkit-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
-moz-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.84);
}

.photosource {
font-family: "Source Code Pro", Monaco, monospace;
font-size: 20px;
}

/*
@media only screen and ( max-width: 800px ) {

body {
  disabled_font-size: 1.7rem;
}
.contentcontainer { 
  display: table;
}

.contentleftside {
  width: 100%;
  text-align: left;  
}

.contentrightside {
  width: 100%;  
}

.contentpaddingleft {
  padding: 20px;
}

.tableofcontents {
  column-count:  1; 
  column-gap:   50px; 
  column-rule:   2px solid lightgrey;
}

}

@media only screen and ( max-device-width: 500px )  {

body {
  font-size: 1.7rem;
}
.contentcontainer { 
  display: table;
}

.contentleftside {
  width: 100%;
  text-align: left;  
}

.contentrightside {
  width: 100%;  
}

.contentpaddingleft {
  padding:  10px;
  text-align: left;
}

.tableofcontents {
  column-count: 1; 
  column-gap:  50px; 
  column-rule:  2px solid lightgrey;
}

}

*/

/* Create four equal columns that floats next to each other */
.column {
margin-top: -0.7em;
float: left;
width: 23%;
padding: 1%;
}

.column img {
margin-top: 4%;
margin-bottom: 4%;
width: 100%;
}

.row {
margin-left: -1%;
margin-right: -1%;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

pre {
margin-top:    0;
margin-bottom: .6em;
padding:       0rem;
font-size:     .9em;
line-height:   1.4;
background-color: #ffffff;
white-space: pre-wrap;
/* Since CSS 2.1 */
white-space: -moz-pre-wrap;
/* Mozilla, since 1999 */
white-space: -pre-wrap;
/* Opera 4-6 */
white-space: -o-pre-wrap;
/* Opera 7 */
word-wrap: break-word;
/* Internet Explorer 5.5+ */
}

pre.terminal {
border: 2px solid black;
font-size:   .6em;
background-color: #333;
line-height: 1.25;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #17cc00;
-webkit-font-smoothing: subpixel-antialiased;
font-smoothing: subpixel-antialiased;
padding: 0.8em;
font-family: "Courier New", Courier, monospace;
margin-top:    0.5em;
margin-bottom: 0.5em;
}

pre.terminal::selection {
background: #00ff00;
text-shadow: none;
color: black;
}

pre.terminal a, .post pre.terminal a:hover, .post pre.terminal a:visited {
background-color: #333;
color: #17cc00;
}

pre.terminal strong {
color: #00ff00;
}

pre.terminal strong::selection {
background: #00ff00;
text-shadow: none;
color: black;
}

.videocontainer {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 1em;
}

.lyricsheader {
  font-size: 1.2em;
  position: -webkit-sticky; 
  position: sticky;
  top: 1px;
  background-color: #ffffff;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left:  20px;

  font-weight: 400;

  // ? top space 
  border-top: 1px solid;
  border-color: white;

  // https://stackoverflow.com/questions/12779776/linear-fade-out-div-content-and-border-solid-at-top-to-transparent-at-bottom
  // background: url(data:image/svg+xml;base64,alotofcodehere);
  background: -moz-linear-gradient(bottom,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
  background: -webkit-gradient(linear, left top, left top, color-stop(0%,rgba(255,255,255,0)), color-stop(70%,rgba(255,255,255,1)));
  background: -webkit-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -o-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: -ms-linear-gradient(bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
  background: linear-gradient(to top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.video.stuck {
  position: fixed;
  top:   20px;
  right: 20px;

  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  
  width: 40%;

  -webkit-animation: fade-in-up .25s ease forwards;
          animation: fade-in-up .25s ease forwards;
}
@media screen and ( min-width: 1330px ) {
  .video.stuck  {
  margin-right: 55px;
  }
}